<div *ngIf = emptyError style = "margin: -10px -10px 20px 10px;">
  <div class = "errorBlock">
    <div style="background-color: #FF6666;border-radius: 5px;display: inline;padding: 10px">
      something went wrong
    </div>
    <button class="btn btn-primary" (click)="emptyError = false" style="margin-left:10px">Load local DB</button>
  </div>
</div>
<div *ngIf = "!emptyError" style="background-color: whitesmoke; cursor:default">
  <table class="table">
    <tbody>
    <tr *ngFor = "let i of dataMatch" class="selectTR">
      <td align="right">{{i['awayTeam']['name']}}</td>
      <td align="center">{{i['score']['fullTime']['awayTeam']}} : {{i['score']['fullTime']['homeTeam']}} </td>
      <td align="left">{{i['homeTeam']['name']}}</td>
    </tr>
    </tbody>
  </table>
</div>
